body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

#calculator {
    width: 640px;
    height: 450px;
    background-color: gray;
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 2rem;
}

#screen {
    display: flex;
    width: 640px;
    height: 120px;
    background-color: rgb(147, 238, 191);
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(640px / 8);
    height: 120px;
}
.number p {
    font-size: 6rem;
}

#buttons {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgb(244, 240, 187);
    margin-top: 20px;
    font-weight: bold;
    font-size: 4rem;
}

#numKeys {
    display: grid;
    width: 60%;
    height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 10px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
      background-color: beige;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: darkcyan;
    cursor:pointer;
}

.key:hover {
          background-color: rgb(239, 239, 202);
}

#operators {  
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.operator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: darkcyan;
    cursor:pointer;
}

.operator:hover {
          background-color: rgb(239, 239, 202);
}