* {
    margin: 0;
    box-sizing: border-box;
}
header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    color: white;
    background-color: rgb(50, 123, 232);
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
}

.headerClass {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.7rem;
}

.headerClass p {
    font-size: 1.5rem;
}

.option {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
}

.options {
    display: flex;
    padding: 2px 49px;
    border-color: rgb(195, 195, 195);
    border-style: solid;
    background-color: antiquewhite;
    color: black; 
}

.options:hover {
    border-color: rgb(54, 230, 142);
}

.optHeader {
    display: flex;
    padding: 2px 20px;
    border-color: rgb(195, 195, 195);
    border-style: solid;
    background-color: antiquewhite;
    color: rgb(93, 89, 89);
}

.filteringOption {
    font-style: italic;
    display: flex;
    margin-left: auto;
}

.selectionOption {
    background-color: blue;
    margin-left: auto;
    position: absolute;
    right: 21px;
    margin-top: 28px;
    width: 400px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.selectionBox {
    text-align: center;
    list-style: none;
    padding: 12px;
    border-color: rgb(195, 195, 195);
    border-style: solid;
    background-color: antiquewhite;
    color: black;
}

#levelOptions {
    display: none;
}

#typeOptions {
    display: none;
}

#mealOptions {
    display: none;
}

.searchBox {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.searchBar {
    width: 90%;
    height: 50px;
    background-color: rgb(238, 225, 225);
    border-color: rgb(195, 195, 195);
    border-style: solid;
    border-radius: 90px;
    text-align: center;
}

.searchBar:focus{
    outline: 2px solid rgb(79, 79, 253);
}

.foodGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 0px 60px;
}

.food {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 80px;
    padding: 16px 35px;
    border-color: rgb(195, 195, 195);
    border-style: solid;
    background-color: rgb(21, 21, 21);
    color: white;
    transition: transform 0.2s ease;
}

.food:hover {
    transform: scale(1.1);
}